@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@400;500;700&display=swap');

body{
    background-color: #181719;
}

/* Contains entire display except footer */
.main{

}

.top-row{
    padding-left: 77px;
    display: flex;
    gap: 648px;
}



.interior{
    font: 14px "Crimson Pro", normal;
    text-transform: uppercase;
    width: 102px;
    height: 32px;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    color: #ffffff;
    text-transform: capitalize;
    font: 18px "Montserrat", normal;
}

.menu-button{
    display: none;
}

.menu li a{
    padding-right: 86px;
    color: #ffffff;
    text-decoration: none;
}

.menu li:hover{
    text-decoration: underline;
    font-weight: 700;
    text-underline-offset: 8px;
}

.container{
    padding-left: 76px;
    display: flex;
    position: relative;
}

.text{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    padding-right: 139px;
    align-content: center;
}

.title{
    font: 48px "Lora", normal;
    color: #ffffff;
    width: 365px;
    height: 61px;
    padding-top: 381px;
}

.read-more{
    font: 18px "Montserrat", normal 700;
    color: #ffffff;
    text-decoration: none;
    padding-top: 24px;
}

.description{
    font: 24px "Montserrat", normal;
    color: #ffffff;
    width: 410px;
    height: 145px;
}

.test{
    width: 410px;
    height: 189px;
    padding-left: 14px;
}

.person{
    position: absolute;
    bottom: -125px;
    right: 550px;
    width: 410px;
    height: 189px;
    background-color: #181719;
    box-shadow: 0px 4px 4px;
    display: flex;
    padding-top: 10px;

}

.left-blurb{
    display: flex;
    flex-flow: column wrap;
}

.name{
    font: 14px "Montserrat", normal;
    color: #ffffff;
    text-transform: capitalize;
}

.job{
    font: 12px "Montserrat", normal;
    color: #828282;
}

.text-bubble{
    font: 24px "Lora", normal;
    color: #ffffff;
    width: 287px;
}

#bg{
    margin-top: 221px;
    max-width: 737px;
    max-height: 555px;
}

#headshot{
    border-radius: 50%;
    max-width: 50px;
    max-height: 50px;
    padding-left: 14px;
}

.footer{
    font: 14px "Montserrat", normal;
    color: #a9a9a9;
    padding-top: 256px;
    text-align: center;
}

@media only screen and (max-width: 600px){
    *{
        margin-left: 12px;
    }

    .menu{
        display: none;
    }

    .menu-button{
        display: block;
    }
}